<footer class="card card-footer page-footer font-small pt-4" id="contact">

  <!-- Footer Links -->
  <div class="container text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-0">

        <!-- Contact Section -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Chennai, Tamil Nadu</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> amrutha.vs19@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 - 9677136185</p>

      </div>

      <!-- Social Contact Section -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-0">
        <h6 class="text-uppercase font-weight-bold">Social</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.facebook.com/AmruthaVarshiniK" target="_blank" class="fa fa-facebook social-icon"></a>
          <a href="https://instagram.com/_amruthavarshini_?igshid=xptt83jqguga" target="_blank" class="fa fa-instagram social-icon"></a>
          <a href="#" class="fa fa-google social-icon"></a>
          <br />
          <a href="https://www.youtube.com/channel/UCzRju52Yl20Iu90WiiA9lWw" target="_blank" class="fa fa-youtube social-icon"></a>
          <a href="https://www.linkedin.com/in/amrutha-varshini-166446163" target="_blank" class="fa fa-linkedin social-icon"></a>
          <a href="https://github.com/AmruthaVarshini-sriram" target="_blank" class="fa fa-github social-icon"></a>
        </p>
      </div>

    </div>

  </div>

</footer>
<!-- Footer -->
</body>

</html>
